<% _(result).each(function (item) {
%>

<tr>
    <td class="center">
        <label>
            <input name="id" value="<%= item.id %>" type="checkbox" select_all class="ace"/>
            <span class="lbl"></span>
        </label>
    </td>
    <td>
    <% if (item.is_active == null || item.is_active === false){ %>
        <%= item.pre_title %>
        <% }else if(item.is_active === true) { %>
       <a onclick="show(<%= item.id %>)"><%= item.title %></a>
        <% } %>

    </td>
    <td><%= item.author %></td>
    <td><%= item.create_time%></td>
    <td><%= item.publish_time%></td>



</tr>
<%
}); %>

